		<div class="wrapper d-flex align-items-stretch">
		    <nav id="sidebar">
		        <div class="position-sticky p-4 pt-5">
		            <a href="/" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
		            <ul class="list-unstyled components mb-5">
		                <li class="home">
		                    <a href="/">Home</a>
		                </li>
		                <li class="streaming">
		                    <a href="/streaming">Streaming</a>
		                </li>
		                <li class="logs">
		                    <a href="/logs">Logs</a>
		                </li>
		                <li class="repertoire">
		                    <a href="/repertoire">Répertoire</a>
		                </li>
		                <li class="contact">
		                    <a href="/contact">Contact</a>
		                </li>
		            </ul>

		        </div>
		    </nav>

		    <div id="content" class="p-4 p-md-5">

		        <nav class="navbar navbar-expand-lg navbar-light bg-light">
		            <div class="container-fluid">

		                <button type="button" id="sidebarCollapse" class="btn btn-primary">
		                    <i class="fa fa-bars"></i>
		                    <span class="sr-only">Toggle Menu</span>
		                </button>
		                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		                    <i class="fa fa-bars"></i>
		                </button>

		                <div class="collapse navbar-collapse" id="navbarSupportedContent">
		                    <ul class="nav navbar-nav ml-auto">
		                        <li class="nav-item">
		                            <a class="home nav-link" href="/">Home</a>
		                        </li>
		                        <li class="nav-item">
		                            <a class="streaming nav-link" href="/streaming">Streaming</a>
		                        </li>
		                        <li class="nav-item">
		                            <a class="logs nav-link" href="/logs">Logs</a>
		                        </li>
		                        <li class="nav-item">
		                            <a class="repertoire nav-link" href="/repertoire">Répertoire</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </nav>
