<!doctype html>
<html lang="en">

<head>
    <title>Face Server - Contact</title>
    <%- include('includes/head'); %>
</head>

<body>

    <%- include('includes/navbar'); %>
	<div style="text-align: center">
    <h2 class="mb-4">Projet Faceserver </h2>
	<br>
	<h5>Ce projet a été réalisé dans le cadre d'un projet en groupe à l'ISEN-Lille par l'équipe de choc :</h5> <br>
	<br>

	<h5>Sur la partie IA :</h5>
	<p> Bomy Clara <br> El Khiati Amine </p> <br>

	<h5>Sur la partie Web :</h5>
	<p> Xu Lu <br> Moulart Zoé <br> Tabbara Arnaud <br> Zekri Hedi </p> 
	</div>
	<br>
	<img style="margin-left: 40.5%;" src="images/isen.jpg" width="20%" height="20%">
	
    <%- include ('includes/footer') %>

    <%- include ('includes/scripts') %>
</body>

</html>
