<!doctype html>
<html lang="en">

    <head>
        <title>Face Server - Home</title>
        <%- include('includes/head'); %>
    </head>

    <body>

        <%- include('includes/navbar'); %>

		<br><br><br>
		<br><br><br>
		<center><h3 class="mb-4" >Erreur 404</h3></center>
        <center><h2 class="mb-4" >Il n'y a rien ici !</h2></center>
		<center>Voulez-vous retourner sur la <a href="/">page d'accueil</a> ?</center>


        <%- include ('includes/footer') %>

        <%- include ('includes/scripts') %>
    </body>

</html>
