<!doctype html>
<html lang="en">

    <head>
        <title>Face Server - Home</title>
        <%- include('includes/head'); %>
    </head>

    <body>

        <%- include('includes/navbar'); %>

        <h2 class="mb-4">Bienvenue sur FaceServer !</h2>
        <p>Vous pourrez via cet interface observer la vue de la caméra ainsi que constater les logs de détections et de reconnaissances des personnes qui passent dans son champ. </p>


        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" accept="image/*" name="photo" >
            <input type="submit" value="upload">
        </form>

        <%- include ('includes/footer') %>

        <%- include ('includes/scripts') %>
    </body>

</html>
