<!doctype html>
<html lang="en">

<head>
    <title>Face Server - History</title>
    <%- include('includes/head'); %>
</head>

<body>

    <%- include('includes/navbar'); %>


    <h1> Logs de la journée </h1>



    <br>
    <pre style="font-size: 1.1rem;">
<hour>15h06: </hour>Hedi vient de passer dans le champ de la caméra.
<hour>18h08: </hour>Un inconnu est passé dans le champ.
<hour>18h12: </hour>Un inconnu est passé dans le champ pour la seconde fois.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</pre>

    <%- include ('includes/footer') %>

    <%- include ('includes/scripts') %>
</body>

</html>
